<!DOCTYPE html> 
<html lang="en"> 
<head> 
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

    <title>Dashboard</title> 
    <style>
    	
    	#logout{
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color:#e3f2fd;
		  text-align:right;
		}

		#heading{
			text-align: center;
		}
		button {
			  background-color: #2196F3;
			  color: white;
			  padding: 14px 20px;
			  margin: 8px;
			  border: none;
			  cursor: pointer;
			 


			}
		a:link, a:visited {
						  background-color: #2196F3;
						  color: white;
						  padding: 14px 25px;
						  text-align: center;
						  text-decoration: none;
						  display: inline-block;
						}
			a:hover, a:active {
						  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
						}
		.links{
				
  				text-align: center;
		}
    	
    </style>
</head> 
<body>
	<header>
		<nav style="background-color: #e3f2fd;">
  		<span id="heading">INVITATIONS</span>
  		<div id="logout">
      		
      		<form action="/logout?_method=DELETE" method="POST">
  				<button type="submit">Log Out</button>
			</form>
      	</div>
		</nav>
	</header>
		<div class="links">		
	<div><a href="/create">Create Invitation</a></div><br>
	<div><a href="/viewinvites">View Invites</a></div><br>
	<div><a href="/myinvitations">My Invitations</a></div><br>
	<div><a href="/accepted">Invites Accepted</a></div>

	</div>

	
</body>
</html>